* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 90vh;
    width: 90vw;
    display: grid;
    margin-left: 5vw;
    border: .2rem solid gray;
    grid-template-columns: repeat(64, 1fr);
    grid-template-rows: repeat(64, 1fr);
}

.cell {
    display: grid;

}

.btn {
    padding: .2rem;
    margin: .2rem;
}

.btn:hover, .btn:focus {
    cursor: pointer;
}

.default {
    background-color: black;
    color: #fff;
}


.red {
    background-color: red;
    color: #fff;
}

.green {
    background-color: green;
    color: #fff;
}

.yellow {
    background-color: yellow;
    color: #000;
}

.blue {
    background-color: blue;
    color: #fff;
}

.reset {
    padding: .2rem;
    margin: .2rem;
}

.reset:hover, .reset:focus {
    cursor: pointer;
}
